.footer {
  padding: 4rem 2rem 2rem 2rem;

  max-width: 83rem;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  gap: 1rem;
}

.footer__legal {
  font-size: small;
  margin-top: 1rem;

  display: flex;
  justify-content: start;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .footer {
    padding: 5rem 4rem;
  }
}
